<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/styl.css">
<title> Please Login </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}">
           <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}">
          <input class="btn btn-default" type="submit" value="Login">
        </form>
      </div>
    </div>
</body>
</body>
</html>